* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

img, svg {
    display: block;
    max-width:100%;
}

body {
    background-color: hsl(30, 38%, 92%);
    padding-top: 5px;
    padding-bottom: 0;
}

.container {display:flex;
    flex-direction:column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin: 10px 10px;
}

.perfume {
    letter-spacing: 5px;
    font-family: Montserrat;
    font-size: 10px;
    margin-bottom: 0;
    margin-left: 20px;
    font-weight: 500;
}

.essence {
    font-family: Fraunces;
    font-weight: 700;
    letter-spacing: 0;
    margin-top: 4px;
}

.para {
    font-family: Montserrat;
}

.price {
    font-family: Fraunces;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    margin-bottom: 0;
}

.lowp {
    margin: 0;
    font-family: Montserrat;
    position: relative;
    left: 160px;
    bottom: 30px;
    text-decoration: line-through;
    margin-bottom: 0;
}

.product-img {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: auto;
}

.divbtn {
    display: flex;
    justify-content: center;
}

.writeup {
    padding: 1.5rem;
 }

.btn {
    padding: 12px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: hsl(158, 36%, 37%);
    border-radius: 7px;
    border: 1px solid hsl(158, 36%, 37%);
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

.add {
    margin: 0;
    color: white;
    position: relative;
    left: 10px;
    font-weight: 700;
}

.btn:active {
    transform: scale(0.9);
}

.icon {
    color: white;
}

.btn:hover {
    opacity: 0.4;
    transition: .3s ease;
}

a {
    text-decoration: none;
    color: rgb(226, 83, 43);
    font-size: medium;
}

@media (min-width:600px) {
    .product-img {
        object-fit: cover;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }

    .container {
        display: grid;
       grid-template-columns: 1fr 1fr;
       padding-bottom: 0;
    }
}
