* {
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    padding-top: 5px;
    padding-bottom:0;
}

.container {
    background-color: white;
    border-radius: 10px;
    margin: 10px 10px;
    padding-bottom: 20px;
}

.perfume {
    letter-spacing: 5px;
    font-family: Montserrat;
    font-size: 10px;
    margin-bottom: 0;
    margin-left: 20px;
    font-weight: 500;
}

.essence {
    font-family: Fraunces;
    font-weight: 700;
    margin-left: 20px;
    letter-spacing: 0;
    margin-top: 4px;
}

.para {
    font-family: Montserrat;
    margin-left: 20px;
}

.price {
    font-family: Fraunces;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    margin-left: 20px;
    margin-bottom: 0;
}

.lowp {
    margin: 0;
    font-family: Montserrat;
    position: relative;
    left: 160px;
    bottom: 30px;
    text-decoration: line-through;
    margin-bottom: 0;
}

.mobile {
    object-fit: cover;
    width: 100%;
height:auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.divbtn {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 12px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: hsl(158, 36%, 37%);
    border-radius: 7px;
    border: 1px solid hsl(158, 36%, 37%);
    width: 87%;
    cursor: pointer;
    overflow: hidden;
}

.add {
    margin: 0;
    color: white;
    position: relative;
    left: 10px;
    font-weight: 700;
}

.btn:active {
    transform: scale(0.9);
}

.icon {
    color: white;
}

.btn:hover {
    opacity: 0.4;
    transition: .3s ease;
}

a {
    text-decoration: none;
    color: rgb(226, 83, 43);
    font-size: medium;
}

@media screen and (min-width:300px) {
    body {
        background-color: hsl(30, 38%, 92%);
    }
}

@media screen and (min-width:350px) {
    body {
        background-color: hsl(30, 38%, 92%);
    }
}
